.color-blue{
    color:rgb(0, 83, 155);
}

.color-red{
    color:rgb(227, 27, 35);
}

#nav-logo{
    width:280px;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: rgb(227, 27, 35);
}

h2{
    display:block;
    width: 100%;
    text-transform: uppercase;
}

/* SECTION ---- BANNER ---- */
#banner-links-container{
    background-color:#ededed;
    height:48px;
    display:flex;
    align-items: center;
    margin:0;
}

.banner-link{
    color:#4d4d4d;
}

.banner-link:hover{
    color:rgb(0, 83, 155);
    text-decoration: none;
    font-weight:bold;
}

#banner-parallax{
    /* The image used */
    background-image: url("../images/columbus-cropped-condensed.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position:relative;
}

.banner-text-container{
    background-color:rgba(255,255,255,0.90);
    color:white;
    padding:32px;
    position:absolute;
    top:120px;
    left:220px;
    width:500px;
}

.banner-text-container h2{
    font-size:28px;
    font-weight:200;
}

.banner-text-container p{
    font-weight:200;
    color:black;
}

.banner-text-container a{
    font-weight:200;
    padding:8px 32px;
    text-transform: uppercase;
    background-color:rgb(227, 27, 35);
    border:none;
    color:#f3f3f3;
}

/* SECTION ---- ICONS ----- */
.section-icons{
    margin-top:64px;
}

.square{
    display:inline-block;
    font-size:30px;
    border-radius:4px;
    padding-top:4px;
    width:60px;
    height:60px;
    text-align:center;
    border:3px solid black;
    color:black;
}

.icon-container h5{
    font-size:24px;
    font-weight:200;
    text-transform: uppercase;
}

/* SECTION ---- PARALAX ----- */
.parallax {
    /* The image used */
    background-image: url("../images/Frame_5_TSL_condensed.jpg");

    display:flex;
    align-items: center;
    justify-content: center;

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h3{
    text-transform: uppercase;
    color:white;
    font-size:36px;
    padding:16px;
    
    background-color:rgba(0, 83, 155, .5);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

/* SECTION --- LINKS ----- */
.link-container{
    padding:32px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.img-link{
    max-width:100%;
    max-height:100%;
}

/* SECTION ----  small business PARALAX ----- */
.section-small-business-banner .parallax {
    /* The image used */
    background-image: url("../images/small-business-banner.jpg");
    height:300px;
}

/* SECTION ----  small business PARALAX ----- */
.section-meeting-room-banner .parallax {
    /* The image used */
    background-image: url("../images/meeting-room-banner.jpg");
    height:300px;
}

/* SECTION ---- ABOUT ----- */
.btn-primary{
    padding:16px;
    background-color: rgb(0, 83, 155);
    border-radius: 0px;
}

.about-container{
    background-color: #ededed;
}

.about-body-container{
}

/* SECTION ---- REVIEWS ----- */
.review-text{
    font-weight:200;
}

/* SECTION --- GET STARTED ---- */
.section-get-started{
    background: url("../images/get-started-background.jpg") no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color:white;
}

.section-get-started .btn-primary{
    padding:16px 150px;
}

/* SECTION ---- FOOTER ----- */
#logo-footer{
    width:250px;
}

.section-footer{
    background-color:#222222;
    color:#bebebe;
}

.footer-content{
    border-bottom:1px solid #535353;
}

.copyright-text{
    font-size:11px;
    color:#535353;
}

.section-footer a {
    color: #c1cfd2;
}

.circle{
    border-radius:40px;
    width: 50px;
    font-size: 20px;
    height: 50px;
    padding: 8px 7px;
    display:inline-block;
}

.circle-linkedin{
    background-color:#0077b5;
}

.circle-phone{
    padding-top:9px;
    background-color:darkcyan;
}

.circle-email{
    background-color:#005a89;
}

@media only screen and (max-width: 576px){
    body{
        font-size:16px;
    }

    #nav-logo{
        width:125px;
    }

    #banner-parallax{
        background-image: url("../images/columbus-cropped-condensed-mobile.jpg");
    }

    .parallax{
        background-image: url("../images/Frame_5_TSL_mobile.jpg");
    }

    .section-small-business-banner .parallax {
        /* The image used */
        background-image: url("../images/small-business-banner-mobile.jpg");
    }
    
    /* SECTION ----  small business PARALAX ----- */
    .section-meeting-room-banner .parallax {
        /* The image used */
        background-image: url("../images/meeting-room-banner-mobile.jpg");
    }

    #logo-footer{
        width:200px;
    }
}

@media only screen and (max-width: 878px){
    .banner-text-container{
        background-color:rgba(255,255,255,0.90);
        color:white;
        padding:32px;
        position:absolute;
        top:110px;
        left:0px;
        width:100%;
    }
}