#nav-logo{
    width:280px;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: rgb(227, 27, 35);
}

h2{
    display:block;
    width: 100%;
    text-transform: uppercase;
}

#site-container{
    padding-top:150px;
}

/* SECTION ---- HEADER ---- */
#section-header{
    position:fixed;
    width:100%;
    z-index:9999;
    top:0;
    background-color:white;
    -webkit-box-shadow: 0 5px 9px -6px #00000054;
    -moz-box-shadow: 0 5px 9px -6px #00000054;
    box-shadow: 0 5px 9px -6px #00000054;
}

#header-text-container{
    border-top:2px solid black;
    border-bottom:2px solid black;
    height:72px;
}

#header-text-container h1{
    font-size:30px;
    font-weight:600;
}

#section-header .link{
    font-weight:300;
}

/* SECTION ---- CAROUSEL ---- */
.section-carousel{
}

/* SECTION ---- QUOTE ---- */
.quote{
    font-weight:200;
}

/* SECTION ---- BANNER ---- */
#banner-links-container{
    background-color:#ededed;
    height:48px;
    display:flex;
    align-items: center;
    margin:0;
}

.banner-link{
    color:#4d4d4d;
}

.banner-link:hover{
    color:rgb(0, 83, 155);
    text-decoration: none;
    font-weight:bold;
}

#banner-parallax{
    /* The image used */
    background-image: url("../images/horses-banner.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position:relative;
}

.banner-text-container{
    color:white;
    padding:12px;
    position:absolute;
    bottom:0px;
    text-align: center;
    transform: translateX(-50%);
    left:50%;
    width:900px;
}

.banner-text-container h3{
    font-weight:900;
    font-size:48px;
    padding-bottom:12px;
}

.banner-text-container h4{
    font-size:36px;
    font-weight:800;
}

.banner-text-container a{
    font-weight:200;
    padding:8px 32px;
    text-transform: uppercase;
    background-color:rgb(227, 27, 35);
    border:none;
    color:#f3f3f3;
}

/* SECTION ---- OUR PROGRAMS ---- */
.sub-category{
    font-size:16px;
    font-weight:400;
}

/* SECTION ---- TESTIMONIALS ---- */
.section-testimonials{
    margin:0 auto;
    max-width:1000px;
    padding:100px;
    border:1px solid black;
}

.testimonial-title{
    font-size:22px;
    font-weight:400;
    color:black;
}

/* SECTION ---- CONTACT US ---- */
.section-contact-us{
    background-color: #ededed;
}

.directions{
    font-size:14px;
}

/* SECTION ---- GENERAL ---- */
.highlight {
    font-size:22px;
    font-weight:400;
    color:black;
}

.no-margin{
    margin:0px !important;
}

/* SECTION ---- IMAGE SLIDER ----- */
.lightSlider img {
    height:400px;
 }

/* SECTION ---- PARALAX ----- */
.parallax {
    /* The image used */
    background-image: url("../images/sample-image.jpg");

    display:flex;
    align-items: center;
    justify-content: center;

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h3{
    text-transform: uppercase;
    color:white;
    font-size:36px;
    padding:16px;
    
    background-color:rgba(0, 83, 155, .5);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

/* SECTION --- LINKS ----- */
.link-container{
    padding:32px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.img-link{
    max-width:100%;
    max-height:100%;
}

.about-container{
    /*background-color: #ededed;*/
}

.about-body-container{
}

/* SECTION ---- REVIEWS ----- */
.review-text{
    font-weight:200;
}

/* SECTION ---- FOOTER ----- */
#logo-footer{
    width:125px;
    margin-top:12px;
}

.section-footer{
    background-color:#222222;
    color:#bebebe;
}

.footer-content{
    border-bottom:1px solid #535353;
}

.section-footer p{
    font-size:14px;
    margin-bottom:4px;
}

.copyright-text{
    font-size:11px;
    color:#535353;
}

.section-footer a {
    color: #c1cfd2;
}

.address-container{
    text-align:left;
}

.footer-title{
    color: #8b8b8b;
    font-size:14px;
    margin-bottom:6px;

}

.footer-data{
    margin-bottom:0px;
    font-size:14px;
    font-weight:300;
}

.footer-hours{
    padding-left:16px;
}

@media only screen and (max-width: 576px){
    body{
        font-size:16px;
    }

    h2{
        font-size:20px;
    }

    .icon-container h5{
        font-size:20px;
    }

    #nav-logo{
        width:125px;
    }

    .parallax{
        background-attachment: initial;
    }

    #banner-parallax{
        background-attachment: initial;
        height:300px;
    }

    /* #banner-parallax{
        background-image: url("../images/columbus-cropped-condensed-mobile.jpg");
    }

    .parallax{
        background-image: url("../images/Frame_5_TSL_mobile.jpg");
    }

    .section-small-business-banner .parallax {
        background-image: url("../images/small-business-banner-mobile.jpg");
    }
    
    .section-meeting-room-banner .parallax {
        background-image: url("../images/meeting-room-banner-mobile.jpg");
    } */

    .section-get-started .btn-primary{
        padding:16px;
    }

    .link-container{
        padding:8px;
    }
}

@media only screen and (max-width: 768px){
    #site-container{
        padding-top:96px;
    }

    #header-text-container{
        display:flex;
        align-items: center;
        border:none;
        padding-left:0;
        height:52px;
        padding-top:12px;
    }

    .header-logo-container{
        display:flex;
        align-items:center;
        justify-content: center;
    }
    
    #header-text-container h1{
        font-size:16px;
    }

    .banner-text-container{
        color:white;
        padding:0 16px;
        position:absolute;
        bottom:0px;
        text-align: center;
        transform: translateX(-50%);
        left:50%;
        width:100%;
    }

    .banner-text-container h3 {
        font-size: 24px;
        padding-bottom:0px;
    }

    .banner-text-container h4 {
        font-size: 18px;
    }

    .section-testimonials{
        padding:16px;
    }

    #logo-footer{
        width:200px;
        margin-top:48px;
    }

    .contact-container{
        text-align: center;
        margin-bottom:32px;
    }

    .address-container{
        text-align:center;
    }

    .circle{
        display:inline-block;
        font-size: 16px;
        height: 32px;
        padding: 3px 8px;
    }

    .circle-phone{
        padding-top:4px;
    }

    .quote{
        font-size:14px;
    }

    .highlight{
        font-size:16px;
    }

    .footer-data{
        margin:0 auto;
    }

    .lightSlider img {
        height:300px;
     }
}