.color-primary{
  color:#4682b4;
}

.color-white{
  color:white;
}

.color-black{
  color:black;
}

.color-blue{
  color:#4682b4
}

.color-red{
  color:rgb(227, 27, 35);
}

.color-dark-grey{
  color:#606060;
}

.background-primary{
  background-color:#4682b4;
}